<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
      
        <title>Finance - User</title>
        
        <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css" >
        <link rel="stylesheet" href="../../bootstrap/css/freelancer.min.css">
        <link rel="stylesheet" href="../../bootstrap/data-table/jquery.dataTables.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      
      </head>
    
     <body>
          <section id="contact">
            <div class="container">
                    <table id="table-list-payments" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Date</th>
                                    <th>€ - Value</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
            </div>
          </section>
    
     </body> 
    
    <script src="../../scripts/jquery/jquery-3.3.1.js"></script>
    <script src="../../bootstrap/data-table/jquery.dataTables.min.js"></script>
    <script src="../../scripts/principal/utils.js"></script>
    <script src="../../scripts/principal/user/index.js"></script>
    
    